
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Busca Puta App</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}themes/buscaputa.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    </head>
    <body>
        <div data-role="page" data-theme="a">
            <div data-role="header" data-position="inline">
                <h1>Busca Puta App</h1>
            </div>
            <div data-role="content" data-theme="a">
                <img src="http://lorempixel.com/400/200/">
                <form>
                    <div data-role="fieldcontain">
                        <label for="select-native-4">Filtre sua busca</label>
                        <select name="select-native-4" id="select-native-4">
                            <option>Quem você gostaria de encontrar?</option>
                            <optgroup label="Homens">
                                <option value="1">Faixa etária 18 a 22</option>
                                <option value="2">Faixa etária 18 a 22</option>
                                <option value="3">Faixa etária 18 a 22</option>
                                <option value="4">Faixa etária 18 a 22</option>
                            </optgroup>
                            <optgroup label="Mulheres">
                                <option value="5">Faixa etária 18 a 22</option>
                                <option value="6">Faixa etária 18 a 22</option>
                                <option value="7">Faixa etária 18 a 22</option>
                            </optgroup>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
